// Including custom build of Bootstrap
// components. Override or extend here

@import "bootstrap-custom";

//Global Variables

$body-color: #3A3A3A;
$drk-gray: #333333;
$lt-gray: #f4f2f2;
$link-color: #33C5F3;
$active: #2a6496;
$orange: #FE621E;

body {
	color: $body-color;
	padding-top: 70px;
}

a {
	color: $link-color;
	&.active {
		color: $active;
	}
}

//Table Overrides
.table > tbody > tr > th {
	border-top: 0;
	a {
		text-decoration: none;
	}
}

//Navbar Overrides

.nav li > a {
	cursor: pointer;
}

.navbar-inverse {
	background-color: $lt-gray;
}

.navbar-form {
	border: 0;
}

.navbar-brand {
	img {
		max-height: 23px;
	}
}

.navbar-header {
	button {
		background-color: $drk-gray;
	}
}

//Sidebar

.sidebar {
	background-color: #f5f5f5;
	border-right: 1px solid #eee;	
	bottom: 0;
	display: block;
	left: 0;
	padding: 1%;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	top: 51px;
	z-index: 1000;
}

.nav-sidebar {
	padding-bottom: 1rem;
	button {
		margin-bottom: 1rem;
	}
}

.add-btn {
	width: 100%;
}

.fa-toggle-off,
.fa-toggle-on {
	color: $orange;
}

//Form View

.video-preview {
	width: 100%;
}

//List View

.video-poster {
	border: 1px solid $lt-gray;
	max-width: 250px;
	padding: 2%;
}



