// Import custom build of Bootstrap
// components. Override or extend here

@import "bootstrap-custom";

//Global Variables

$body-color: #3A3A3A;
$drk-gray: #333333;
$lt-gray: #f4f2f2;
$default-link-color: #33C5F3;
$active: #2a6496;
$clickhole-orange: #FE621E;


//Custom Mixins 

@mixin ease($property: all, $time: 200ms) {
-webkit-transition: $property $time cubic-bezier(0.250, 0.250, 0.840, 0.325); 
   -moz-transition: $property $time cubic-bezier(0.250, 0.250, 0.840, 0.325); 
    -ms-transition: $property $time cubic-bezier(0.250, 0.250, 0.840, 0.325); 
     -o-transition: $property $time cubic-bezier(0.250, 0.250, 0.840, 0.325); 
        transition: $property $time cubic-bezier(0.250, 0.250, 0.840, 0.325);
}

.visuallyhidden { 
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
  overflow: hidden; 
  position: absolute; 
}

//Global Elements 


html {
	font-size: 62.5%;
}

body {
	color: $body-color;
	font-family: 'Arimo',Helvetica,Arial,sans-serif;
	font-size: 1.4rem;
	padding-top: 70px;
}

a {
	color: $default-link-color;
	&.active {
		color: $active;
	}
}

h2 {
	color: white;
	font-size: 1.3rem;
	padding: 0 15px;
	text-transform: uppercase;
}

ul {
	list-style: none;
	padding: 0;
}

//Navbar Overrides

.nav li > a {
	cursor: pointer;
}

.navbar-inverse {
	background-color: #202729;
}

.navbar-form {
	border: 0;
}

.navbar-brand {
	img {
		max-height: 23px;
	}
}

//Sidebar

.sidebar {
	background-color: #202729;	
	bottom: 0;
	display: block;
	left: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	top: 51px;
	z-index: 1000;
	button {
		border: 0;
		border-radius: 0;
		padding: 10%;
		width: 100%;
	}
	li {
		a {
			color: #BDB5B5;
			&.active {
				color: $active;
			}
			&:hover {
				color: $active;
				background-color: transparent;
			}
		}
	}
}

.fa-toggle-off,
.fa-toggle-on {
	color: $clickhole-orange;
}

//Form View

.video-preview {
	margin-bottom: 15px;
	padding: 0;
}

.alert{
	opacity: 0;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 5000;
	@include ease;
	&.show {
		display: block;
		opacity: 1;
	}
}

.delivery {
    height: 34px;
	line-height: 3;
    margin-bottom: 0;
}

//Targeting

.targeting-group {
	border: 1px solid rgba(161, 191, 215, 1);
	border-radius: 4px;
    clear: left;
	margin: 0 0 10px 0;
	padding: 5px;
}
.targeting-row .form-control{
	float: left;
	margin: 5px 2px 5px 2px;
}
.targeting-row-container{
	margin: 0px auto 0px auto;
	.btn {
		width: auto;
	}
}
.targeting-group .col { padding: 0 2px; }

.add-targeting-button{
	margin: 4px auto 4px auto;
}

//Pixels 

.pixel-group {
    width: 400px;
}
.pixel-group .pixel{
	margin-bottom: 10px;
    overflow: hidden;
}
.pixel-group .pixel .btn{
	color: darkred;
    line-height: 20px;
	padding: 0;
}

.video-ad {
	margin-bottom: 1rem;
  	li {
  		//Handle long titles and URLs
  		display: block;
	  	overflow: hidden;
	  	text-overflow: ellipsis;
	  	white-space: nowrap;
  	}
	img {
		border: 1px solid $lt-gray;
		margin-bottom: 1rem;
		padding: 2%;
		position: relative;
		width: 100%;
	}
}

.poster-chart {
	position: relative;
	.chart {
		bottom: 10%;
		position: absolute;
		right: 5%;
	}
}



