<div class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <h1 class="visuallyhidden">Onion Video Server</h1>
        <img src="images/logo-white.png" alt="Logo"/>
      </a>
    </div>
    <form class="navbar-form navbar-right" ng-show="showSearchBar" ng-submit="search();">
      <input type="text" class="form-control" placeholder="Search" ng-model="$parent.searchTerm">
    </form>
    <button type="submit" class="btn btn-success save-videoad pull-right" ng-show="showSaveButton" ng-click="saveVideoAd();">Save</button>
  </div>
</div>