<div class="row">

    <div ng-include src='"views/partials/navbar.html"'></div>

    <!-- Alert Message -->
    <div class="alert alert-success">Success</div>
    <div class="alert alert-danger">Error</div>

    <div class="col-md-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-md-3 control-label">Name</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Name" ng-model="exclusion.name">
                </div>
            </div>

            <div class="form-group">
                <label for="targeting" class="col-md-3 control-label">Page Targeting</label>
                <div class="col-md-6 targeting" targeting target="exclusion.targeting.page" targets="page_targets">
                </div>
            </div>
            <div class="form-group">
                <label for="targeting" class="col-md-3 control-label">User Targeting</label>
                <div class="col-md-6 targeting" targeting target="exclusion.targeting.user" targets="user_targets">
                </div>
            </div>
            <div id="save-button" class="form-group">
                <label for="targeting" class="col-md-3 control-label">Save</label>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary" ng-click="save();">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
