<div class="row video-ad-form">
  <!-- Alert Message -->
  <div class="alert alert-success">Success</div>
  <div class="alert alert-danger">Error</div>

  <!-- Video Preview Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Video Preview:</h4>
        </div>
        <div class="modal-body">
          <video class="video-js vjs-default-skin" controls preload="auto" width="100%" height="100%" poster="{{video.poster}}">
            <source ng-src="{{source.url}}" type="{{source.content_type}}" ng-repeat="source in video.sources" />
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12">
    <form class="form-horizontal">

      <input type="hidden" ng-model="videoad.id" name="id" value="{{videoad.id}}" />

      <div class="form-group">
        <label for="name" class="col-md-3 control-label">Name</label>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Advertisement Name" ng-model="videoad.name" required>
        </div>
      </div>

      <div class="form-group">
        <label for="client" class="col-md-3 control-label">Client</label>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Client Name" ng-model="videoad.client">
        </div>
      </div>

      <div class="form-group">
        <label for="campaign" class="col-md-3 control-label">Campaign Name</label>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Campaign Name" ng-model="videoad.campaign">
        </div>
      </div>

      <div class="form-group">
        <label for="impressionTarget" class="col-md-3 control-label">Impression Target</label>
        <div class="col-md-2">
          <input type="number" class="form-control" placeholder="Impression Target" ng-model="videoad.impression_target" disabled>
        </div>
        <label for="impressionTarget" class="col-md-2 control-label">Total Impressions</label>
        <div class="col-md-2">
          <input type="number" class="form-control" placeholder="Total Impressions" ng-model="videoad.impression_count" disabled>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
          <div class="progress progress-striped delivery" delivery videoad="videoad">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="clickThrough" class="col-md-3 control-label">Clickthrough</label>
        <div class="col-md-6">
          <input type="url" class="form-control" placeholder="Clickthrough URL" ng-model="videoad.click_through">
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="col-md-3 control-label">GAM Attribute</label>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="GAM Attribute" ng-model="videoad.gam_attribute">
        </div>
      </div>

      <div class="form-group">
        <label for="vast_url" class="col-md-3 control-label">VAST URL</label>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="VAST URL" ng-model="videoad.vast_url" disabled>
        </div>
      </div>

      <div class="form-group group-margin">
        <label for="targeting" class="col-md-3 control-label">Page Targeting</label>
        <div class="col-md-6 targeting" targeting target="videoad.targeting.page" targets="page_targets">
        </div>
      </div>

      <div class="form-group group-margin">
        <label for="targeting" class="col-md-3 control-label">User Targeting</label>
        <div class="col-md-6 targeting" targeting target="videoad.targeting.user" targets="user_targets">
        </div>
      </div>

      <div class="form-group group-margin">
        <label for="pixels" class="col-md-3 control-label">Event Tracking Pixels</label>
        <div class="col-md-6 pixels" pixels videoad="videoad">
        </div>
      </div>

      <div class="form-group" ng-repeat="video in videoad.videos">
        <label for="video" class="col-md-3 control-label">Video: {{videoad.id}}</label>
        <div class="col-md-6" ng-show="videoad.videos.length > 0">
          <video-edit-form index='$index' adid='videoad.id' video="video"></video-edit-form>
        </div>
      </div>
    </form>
    <button class="btn btn-success col-md-offset-3" type="submit" ng-click="addVideo();"><i class="fa fa-plus"></i> Add Video</button>
  </div>
</div>
