<div ng-include src='"views/partials/navbar.html"'></div>

<div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
		<button class="btn btn-default add-btn btn-success" ng-click="newVideoAd();">
			<span><i class="fa fa-video-camera"></i> Add Video</span>
		</button>
		<h2>Filter</h2>
		<ul class="nav nav-sidebar">
			<li>
				<a ng-click="params.filter = 'active'; changeFilter();" ng-class="{'active': (params.filter == 'active' || params.filter == undefined)}">Active</a>
			</li>
	        <li>
	        	<a ng-click="params.filter = 'future'; changeFilter();" ng-class="{'active': (params.filter == 'future')}">Future</a>
	        </li>
			<li>
				<a ng-click="params.filter = 'all'; changeFilter();" ng-class="{'active': (params.filter == 'all')}">All</a>
			</li>
		</ul>
		<h2>Sort</h2>
		<ul class="nav nav-sidebar">
			<li>					
				<a href="" ng-click="orderBy = 'delivery'; reverse=!reverse; changeOrder();" ng-class="{active:orderBy == 'delivery'}">
					<i class="fa fa-bar-chart"></i> Delivery <i class="fa" ng-class="{'fa-chevron-up' : orderBy == 'delivery', 'fa-chevron-down' : orderBy == 'delivery' && !reverse}"></i>
				</a>
			</li>
			<li>
				<a ng-click="orderBy = 'start'; reverse=!reverse; changeOrder();" ng-class="{active:orderBy == 'start'}">
					<i class="fa fa-calendar"></i> Start Date 
					<i class="fa" ng-class="{'fa-chevron-up' : orderBy == 'start', 'fa-chevron-down' : orderBy == 'start' && !reverse}"></i>
				</a>
			</li>
			<li>
				<a href="" ng-click="orderBy = 'end'; reverse=!reverse; changeOrder();" ng-class="{active:orderBy == 'end'}">
					<i class="fa fa-calendar"></i> End Date
					<i class="fa" ng-class="{'fa-chevron-up' : orderBy == 'end', 'fa-chevron-down' : orderBy == 'end' && !reverse}"></i>
				</a>
			</li>
		</ul>
		<h2>Options</h2>
		<ul class="nav nav-sidebar">
			<li>
				<a href="/exclusion/global/">Manage Exclusions</a>
			</li>
			<li>
				<a href="javascript:if((window.metadata===undefined||window.metadata.targeting===undefined)&&(window.targeting===undefined)){alert('There aren\'t any targeting parameters on this page!');}else{var testing_url='http://videoads.theonion.com/test/?'; var targetingObj = (window.metadata && window.metadata.targeting) || window.targeting;for(var i in targetingObj){testing_url+=i;testing_url+='=';testing_url+=targetingObj[i];testing_url+='&'};window.open(testing_url, 'Video Ad Testing', 'width=400,height=400,menubar=no,toolbar=no,location=no,status=no');}">Video Ad Testing</a>
			</li>
		</ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<ul class="video-ad-container col-md-12">
			<li ng-repeat="videoad in videoAds" class="video-ad col-md-3">
				<a href="/edit/{{videoad.id}}/">
					<ul>
						<li class="poster-chart">
							<img src="images/thumb.png" alt=""/>
							<span ng-show="{{videoad.delivery}} != 100">
								<delivery-chart impressions="{{videoad.delivery}}" class="chart"></delivery-chart>
							</span>
							<span ng-show="{{videoad.delivery}} >= 100">
								<i class="fa fa-check-circle-o complete"></i>
							</span>
						</li>
						<li class="name">{{videoad.name}}</li>
						<li>Client: Old Spice</li>
						<li>Delivery: {{videoad.delivery}}%</li>
						<li>Start: {{videoad.start|convertToLocal}}</li>
						<li>End: {{videoad.end|convertToLocal}}</li>
						<li ng-show="videoad.vast_url">VAST: {{videoad.vast_url}}</li>
						<li ng-hide="videoad.vast_url">{{videoad.video.name}}</li>
					</ul>
				</a>
			</li><!--EO Video Ad -->
		</ul><!-- EO Video Ads Container -->
		<pagination total-items="totalItems" items-per-page="5" ng-model="$parent.currentPage"></pagination>
	</div>
	    	
</div>
