    <!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <a class="navbar-brand" href="/">Onion Video Ads</a>
      <form class="navbar-form pull-right">
        New Video Ad
          <input type="text" class="form-control name" placeholder="Name" name="name" ng-model="new_video_ad_name">
          <button type="submit" class="btn btn-default" ng-click="newVideoAd();">Add</button>
      </form>
    </nav> -->

<div ng-include src='"views/partials/navbar.html"'></div>

<div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li>
				<button class="btn btn-default add-btn btn-success" ng-click="newVideoAd();">Add Video</button>
			</li>
			<li ng-class="{'selected': (params.filter === undefined || params.filter == 'active')}">
				<a ng-click="changeFilter('filter', 'active');">Active</a>
			</li>
	        <li ng-class="{'selected': (params.filter == 'future')}">
	        	<a ng-click="changeFilter('filter', 'future');">Future</a>
	        </li>
			<li ng-class="{'selected': (params.filter == 'all')}">
				<a ng-click="changeFilter('filter', 'all');">All</a>
			</li>
		</ul>
		<ul class="nav nav-sidebar">
			<li>
				<a href="/exclusion/global/">Manage Exclusions</a>
			</li>
			<li>
				<a href="javascript:if((window.metadata===undefined||window.metadata.targeting===undefined)&&(window.targeting===undefined)){alert('There aren\'t any targeting parameters on this page!');}else{var testing_url='http://videoads.theonion.com/test/?'; var targetingObj = (window.metadata && window.metadata.targeting) || window.targeting;for(var i in targetingObj){testing_url+=i;testing_url+='=';testing_url+=targetingObj[i];testing_url+='&'};window.open(testing_url, 'Video Ad Testing', 'width=400,height=400,menubar=no,toolbar=no,location=no,status=no');}">Video Ad Testing</a>
			</li>
		</ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<table class="table table-hover">
			<tr>
				<th>Client</th>
				<th>
					<a href="" ng-click="predicate = '-name'; reverse=!reverse; active = 'name'" ng-class="{active:active == 'name'}">
						Name <span class="glyphicon" ng-class="{'glyphicon-chevron-up' : predicate == '-name', 'glyphicon-chevron-down' : predicate == '-name' && !reverse}"></span>
					</a>
				</th>
				<th>
					<a href="" ng-click="predicate = 'start'; reverse=!reverse; active = 'start'" ng-class="{active:active == 'start'}">
						Start <span class="glyphicon" ng-class="{'glyphicon-chevron-up' : predicate == 'start', 'glyphicon-chevron-down' : predicate == 'start' && !reverse}"></span>
					</a>
				</th>
				<th>
					<a href="" ng-click="predicate = 'end'; reverse=!reverse; active = 'end'" ng-class="{active:active == 'end'}">
						End <span class="glyphicon" ng-class="{'glyphicon-chevron-up' : predicate == 'end', 'glyphicon-chevron-down' : predicate == 'end' && !reverse}"></span>
					</a>
				</th>
				<th>External URL/Video</th>
				<th>
					<a href="" ng-click="predicate = '-delivery'; reverse=!reverse; active = 'delivery'" ng-class="{active:active == 'delivery'}">
						Impression Target <span class="glyphicon" ng-class="{'glyphicon-chevron-up' : predicate == '-delivery', 'glyphicon-chevron-down' : predicate == '-delivery' && !reverse}"></span>
					</a>
				</th>
				<th>Preview</th>
			</tr>
			<tr ng-repeat="videoad in videoads | orderBy:predicate:reverse" href="/foo">
				<td>Old Spice</td>
				<td><a href="/edit/{{videoad.id}}/">{{videoad.name}}</a></td>
				<td>{{videoad.start|convertToLocal}}</td>
				<td>{{videoad.end|convertToLocal}}</td>
				<td ng-show="videoad.vast_url">{{videoad.vast_url}}</td>
				<td ng-hide="videoad.vast_url">{{videoad.video.name}}</td>
				<td>
					<impressionschart impressions="{{videoad.delivery}}"></impressionschart>
				</td>
				<td><img class="video-poster" src="images/thumb.png" alt=""/></td>
			</tr>
		</table>
    	<pagination total-items="totalItems" items-per-page="5" ng-model="currentPage" ng-change="changePage(page);"></pagination>
	</div>
</div>
