<div id="pixels-wrapper">
	<table id="pixel-list" class="table table-striped">
		<tr>
			<th>Event</th>
			<th>Pixel URLs</th>
		</tr>
		<tr ng-repeat="(event, urls) in videoad.pixels" data-event="{{event}}">
			<td>{{event}}</td>
			<td>
				<div class="pull-left pixel-group">
					<div class="pixel" ng-repeat="url in urls track by $index">
						<div class="pull-left" style="width: 90%; overflow: hidden;">{{url}}</div>
						<div class="pull-right" ng-click="removePixel(event, $index);">
							<span class="btn fa fa-remove"></span>
						</div>
					</div>
					<div class="new-pixel-container input-group">
						<input class="form-control" type="url" placeholder="Add new pixel" />
						<div class="input-group-btn">
							<button class="btn btn-primary" ng-click="addPixel($event)">Add</button>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>