///////////////////////////
// ********************* //
//      Login Form       //
// ********************* //
///////////////////////////


.login-container {
	background: url(http://static.wixstatic.com/media/d60a88_c9f9eb4e5d6d4b7bb895b17c6af1dd1c.gif_srz_2496_954_85_22_0.50_1.20_0.00_gif_srz) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:fixed;
    height:100%;
    left:0;
    top:0;
    width:100%;
}

.login-form {
	background: black;
	left: 50%;
	padding: 3rem;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	button,
	input {
		margin: 1rem 0;
		border-radius: 0;
		width: 100%;
	}
}