///////////////////////////
// ********************* //
//        Colors         //
// ********************* //
///////////////////////////


$active: #008d52;
$body-color: #3A3A3A;
$drk-gray: #e2e2e2;
$lt-gray: #f4f2f2;

