///////////////////////////
// ********************* //
//      Typography       //
// ********************* //
///////////////////////////


$sans-serif: 'Arimo', Helvetica, Arial, sans-serif;

/* So we can use rems for size */
/* font-size: 1.4rem; = 14px */
/* font-size: 2.4rem; = 24px */
html {
	font-size: 62.5%;
}

h2 {
	color: rgba(226, 226, 226, .4);
	font-size: 1.3rem;
	padding: 15px 0 10px 15px;
	text-transform: uppercase;
}

