///////////////////////////
// ********************* //
//         Alert         //
// ********************* //
///////////////////////////


.alert{
	opacity: 0;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 5000;
	@include ease;
	&.show {
		display: block;
		opacity: 1;
	}
}