///////////////////////////
// ********************* //
//         Alert         //
// ********************* //
///////////////////////////

.alert {
	border-radius: 0;
	height: 50px;
	left: 0;
	line-height: 1.5;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 5000;
}
