///////////////////////////
// ********************* //
//        Loading        //
// ********************* //
///////////////////////////


.loading {
	font-size: 4rem;
	margin-top: 25%;
	text-align: center;
	text-transform: uppercase;
	span {
		margin-top: 50%;
	}
}

.loader {
	border: solid 2px $active;
	display: inline-block;
	height: 3rem;
	margin: 0 1rem;
	width: 3rem;
	@include spin;
}