///////////////////////////
// ********************* //
//        Loading        //
// ********************* //
///////////////////////////


.loading {
	font-size: 4rem;
	margin-top: 25%;
	text-align: center;
	text-transform: uppercase;
	span {
		margin-top: 50%;
	}
}