/* line 7, video-modal.scss */
.video-modal {
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}
/* line 11, video-modal.scss */
.video-modal .video-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
