///////////////////////////
// ********************* //
//         Fade          //
// ********************* //
///////////////////////////

.on-fade {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.on-fade.ng-enter,
.on-fade.ng-leave {
    background: white;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.on-fade.ng-enter {
    opacity: 0;
}
.on-fade.ng-enter-active {
    opacity: 1;
}
.on-fade.ng-leave {
    opacity: 1;
}
.on-fade.ng-leave-active {
    opacity: 0;
}