<!DOCTYPE html>
<html lang="en" ng-app="video-ads">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- TODO: Can't use this block title thing.  -->
		<title>{% block title %}Onion Video Ad Server{% endblock %}</title>

        <!-- TODO: change this over to work with bower crap, reference django-bulbs  -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/daterangepicker-bs3.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}videos/css/jquery-video-upload.css" />

		<style type="text/css">
			body { padding-top: 70px; }
			.navbar input.name {
				width: 230px;
			}
			.navbar input.impression-target {
				width: 125px;
			}
		</style>
	</head>
	<body>
        <!-- TODO: mock csrf-token, get that working better.  -->
		{% csrf_token %}
		<div class="container" ng-view>
		</div>
        <!-- TODO: change this over to work with bower crap, reference django-bulbs  -->
        <script type="text/javascript">var STATIC_URL = "{{ STATIC_URL }}";</script>
		<script type="application/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js" ></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

		<script type="application/javascript" src="{{ STATIC_URL }}videos/js/jquery-video-upload.js" ></script>
		<script type="application/javascript" src="/videos/videoAttrs.js" ></script>

		<script type="text/javascript" src="{{ STATIC_URL }}js/moment.min.js"></script>
      	<script type="text/javascript" src="{{ STATIC_URL }}js/daterangepicker.js"></script>
      	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
      	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
      	<script type="text/javascript" src="{{ STATIC_URL }}lib/angular-cookies.min.js"></script>
      	<script type="text/javascript" src="{{ STATIC_URL }}lib/ui-bootstrap-tpls-0.6.0-SNAPSHOT.min.js"></script>
      	<script type="text/javascript" src="{{ STATIC_URL }}lib/underscore-min.js"></script>
      	<script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
      	<script type="text/javascript" src="{{ STATIC_URL }}js/autocomplete.js"></script>
        <!-- TODO: More django junk -->
      	{% block js %}
      	{% endblock %}
	</body>
</html>