<!DOCTYPE html>
<html lang="en" ng-app="video-ads">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Targeting Test</title>

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/daterangepicker-bs3.css" />
        <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}videos/css/jquery-video-upload.css" />
        <style>
            .container {
                padding-top: 20px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            {% if matches %}
                {% for group in data %}
                {% if group.ads %}
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">{{ group.name|capfirst }}</div>
                    <!-- List group -->
                    <ul class="list-group">
                        {% for ad in group.ads %}
                        <li class="list-group-item"><a href="/edit/{{ad.pk}}">{{ ad.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endfor %}
            {% else %}
                <div class="alert alert-danger">No matching ads!</div>
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading">Targeting info</div>
                <ul class="list-group">
                {% for key, value in targeting.items %}
                    <li class="list-group-item">{{key}}: {{value.0}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <script type="application/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js" ></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

        <script type="application/javascript" src="{{ STATIC_URL }}videos/js/jquery-video-upload.js" ></script>
        <script type="application/javascript" src="/videos/videoAttrs.js" ></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/moment.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/daterangepicker.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}lib/angular-cookies.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}lib/ui-bootstrap-tpls-0.6.0-SNAPSHOT.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}lib/underscore-min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/autocomplete.js"></script>
    </body>
</html>